<h3>Employee Grid</h3>
<h4>Use these examples as clipboard:</h4>
<pre>{{"{\"EmployeeID\": \"1\", \"FirstName\": \"John\", \"LastName\": \"Doe\", \"Country\": \"USA\"}"}}</pre>
<pre>{{"{\"FirstName\": \"anotherFirstName\"}"}}</pre>
<pre>{{"{\"LastName\": \"anotherLastName\"}"}}</pre>

<igx-grid #employeeGrid [data]="localData" [autoGenerate]="false" (columnInit)="onColumnInit($event)" width="960px" height="550px" [rowEditable]="true">
  <igx-column field="EmployeeID" [sortable]="true" header="Employee ID" >
    <ng-template igxCell let-value>
      <div [contextMenu]="menu" [id]="value">{{ value }} </div>
    </ng-template>
  </igx-column>
  <igx-column field="FirstName" [sortable]="true" header="FirstName" >
  </igx-column>
  <igx-column field="LastName" [sortable]="true" header="LastName"></igx-column>
  <igx-column field="Country" [sortable]="true" header="Country"></igx-column>
  <igx-column field="Age" [sortable]="true" header="Age"></igx-column>
  <igx-column field="RegistererDate" [sortable]="true" header="RegistererDate"></igx-column>
  <igx-paginator></igx-paginator>
</igx-grid>

<label class="error" *ngIf="error">{{ error }}</label>

<ng-template #menu let-id>
  <app-context-menu [grid]="employeeGrid" [row]="id" [actions]="actions"></app-context-menu>
</ng-template>
